body {
  color: lightblue;
  background-image: url('../img/binaryCode.png');
}

h1 {
  margin: 25px;
}

.result {
  display: none;
  border: solid 5px black;
}

select {
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}

#button {
  margin: 15px;
  border: dotted 5px black;
  background-color: lightblue;
}
